<!DOCTYPE html>
<script>


    // // Return the length of the longest word in the provided sentence.
    // function findLongestWordLength(str) {
    //     var words = str.split(' ');
    //     var longest = 0;
    //     // return words.reduce(function (longest, word) {
    //     //     return Math.max(longest, word.length);
    //     // }, longest);
    //     return words.sort(function (a, b) {
    //         return b.length - a.length;
    //     })[0].length;
    // }

    // function largestOfFour(arr) {
    //     var result = [];
    //     for (var i = 0; i < arr.length; i++) {
    //         result.push(arr[i].sort(function (a, b) {
    //             return b - a;
    //         })[0]);
    //     }
    //     return result;
    // }

    // largestOfFour([[4, 5, 1, 3], [13, 27, 18, 26], [32, 35, 37, 39], [1000, 1001, 857, 1]]);

    // findLongestWordLength("The quick brown fox jumped over the lazy dog");

    // function repeatStringNumTimes(str, num) {
    //     var result = "";
    //     for (var i = 0; i < num; i++) {
    //         result += str;
    //     }
    //     return result;
    // }

    // repeatStringNumTimes("abc", 3);

    // function truncateString(str, num) {
    //     if (str.length > num) {
    //         return (str.slice(0, num) + '...')
    //     } else
    //         return str
    // }

    // truncateString("A-tisket a-tasket A green and yellow basket", 8);

    // function findElement(arr, func) {
    //     return arr.find(func)
    // }

    // findElement([1, 2, 3, 4], num => num % 2 === 0);

    // function titleCase(str) {
    //     return str.toLowerCase().split(' ').map(item => item.replace(item.charAt(0), item.charAt(0).toUpperCase())).join(' ');
    // }

    // titleCase("I'm a little tea pot");

    // function frankenSplice(arr1, arr2, n) {
    //     var result = arr2.slice();
    //     result.splice(n, 0, ...arr1);
    //     return result;
    // }

    // frankenSplice([1, 2, 3], [4, 5, 6], 1);


    // var twoSum = function (nums, target) {
    //     for (let i = 0; i < nums.length; i++) {
    //         for (let x = i + 1; x < nums.length; x++) {
    //             if (nums[i] + nums[x] === target) {
    //                 return [i, x];
    //             }
    //         }
    //     }
    // }

    // console.log(twoSum([3, 2, 4], 6));

    // var isPalindrome = function (x) {
    //     if (x < 0) {
    //         return false;
    //     }else if (0<= x && x <= 9) {
    //         return true;
    //     }else {
    //         return x.toString().split('').reverse().join('') === x.toString() ? true : false;
    //     }
    // }

    // console.log(isPalindrome(121));

    // var romanToInt = function(s){
    //     const map = {
    //         I: 1,
    //         V: 5,
    //         X: 10,
    //         L: 50,
    //         C: 100,
    //         D: 500,
    //         M: 1000
    //     };

    //     let result = 0;

    //     for(let i = 1; i < s.length; i++){
    //         if(map[s[i]] > map[s[i-1]]){
    //             result -= map[s[i-1]];
    //         }else{
    //             result += map[s[i-1]];
    //         }
    //     }

    //     return result + map[s[s.length-1]];

    // }

    // console.log(romanToInt('MCMXCIV'));

    // function getIndexToIns(arr, num) {
    //     let index = 0;
    //     arr.sort((a, b) => a - b);
    //     for (let i = 0; i < arr.length; i++) {
    //         if (arr[i] < num) {
    //             index = i +1;
    //         }
    //     }
    //     return index;
    // }

    // console.log(getIndexToIns([2, 5, 10], 15));

    // function mutation(arr) {
    //     const first = arr[0].toLowerCase().split('');
    //     const second = arr[1].toLowerCase().split('');
    //     for (let i = 0; i < second.length; i++) {
    //         if (!first.includes(second[i]))
    //             return false;
    //     }
    //     return true;
    // }

    // console.log(mutation(["hello", "heol"]));

    function chunkArrayInGroups(arr, size) {
        var result = [];
        for(let i = 0; i < arr.length; i += size){
            result.push(arr.slice(i, i+size));
        }
        return result;
    }
    console.log(chunkArrayInGroups([0, 1, 2, 3, 4, 5, 6, 7, 8], 2))
</script>