@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;

  h1 {
    font-size: 45px;

    @include mobile {
      font-size: 30px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 14px;
      margin-right: 50px;
      padding: 7px;
      border-radius: 10px;
      cursor: pointer;

      @include mobile {
        margin-right: 20px;
      }

      &.active {
        background-color: $mainColor;
        color: white;
      }
    }
  }

  .portfolioList {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active {
      background-color: $mainColor;
      color: white;
    }
  }

  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
      overflow: hidden;
    }

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 5px 5px 5px 5px #0079ba70;

      @include mid-width {
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
        text-align: center;

        @include mobile {
          font-size: 14px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;

        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }

  &.dark {
    background-color: $darkColor;
    color: $darkFont;
  }
}

.MuiPaper-root {
  max-width: 100% !important;
  width: 80vw;
}

.box-container {
  &.dark {
    background-color: $darkColor;
    color: $darkFont;
  }
  margin: 10px;
  display: flex;
  flex-direction: column;
  .box-img {
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }
  .box-section {
    display: flex;
    flex-direction: row;
    .box-left {
      flex-wrap: wrap;
      width: 30%;
      display: flex;
      .MuiChip-root {
        margin: 5px;
      }
    }
    .box-right {
      // display: flex;
      // flex-direction: row;
      width: 70%;
    }
  }
  .box-button {
    .MuiButton-root {
      float: right;
    }
  }
}
