$mainColor: #15023a;

$menuColor: rgba(0, 0, 0, 0.736);

$darkColor: #2b2348;

$darkFont: #d9e2ec;

$width: 768px;

@mixin mobile {
  @media (max-width: $width) {
    @content;
  }
}

$mid-width: 896px;

@mixin mid-width {
  @media (max-width: $mid-width) {
    @content;
  }
}

